<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CountryInfoServiceSoapBinding" />
                <binding name="NumberConversionSoapBinding" />
                <binding name="CalculatorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CountryInfoServiceSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="NumberConversionSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso"
                binding="basicHttpBinding" bindingConfiguration="CountryInfoServiceSoapBinding"
                contract="CountryInfo.CountryInfoServiceSoapType" name="CountryInfoServiceSoap" />
            <endpoint address="http://www.dataaccess.com/webservicesserver/numberconversion.wso"
                binding="basicHttpBinding" bindingConfiguration="NumberConversionSoapBinding"
                contract="DataAccess.NumberConversionSoapType" name="NumberConversionSoap" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="Calculator.CalculatorSoap" name="CalculatorSoap" />
        </client>
    </system.serviceModel>
</configuration>